<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="../index.html"><img class="logo" src="../images/logo.png" alt="Profile Picture of Man"></a>
        <div class="text-box">
            <a href="#"><h2>Resume</h2></a>
            <a   href="#footer" ><h2>Contact Me</h2></a>
        </div>
    </header>
    <div class="hr-line"></div>


 <main id="resume">
    <article class="Summary personal-info">
      <h1>Jitendra Kumar</h1>
      <h2><img src="../images/svg/summary.svg" alt="Icon for Summary" height="30px"  style="padding-right:5px ;">Summary</h2>
      <p>I have 2 years of dedicated experience in transforming design concepts into high-performance web pages. 
        Proven expertise in UI/UX collaboration, responsive web development with <span class="skills">HTML</span>, <span class="skills">CSS</span>, <span class="skills">JavaScript</span>, and mentoring 
        development teams.</p>
    </article>

    <article class="Experienec personal-info">
        <h2><img src="../images/svg/experience.svg" alt="Icon for Summary" height="30px"  style="padding-right:5px ;">Experienec</h2>
        <article class="addbyb inner-article">
            <h3><img src="../images/ADDBYB.png" alt="Icon for Summary" height="25px"  style="padding-right:5px ;">addbyb</h3>
            <article class="inner-article2">
             <h4>Frontend Developer</h4>
             <li>Aug 2023 - Jan 2024 (6 months)</li>
             <ul>
                <li>Collaborate with cross-functional teams, including UI/UX designers and backend developers, to bring 
                    concepts to life.</li>
                <li>Transform design wireframes into responsive, high-performance web pages using HTML, CSS, and 
                    JavaScript.</li>
                <li>Lead and mentor a team of developers, ensuring timely project delivery and fostering a collaborative 
                    and growth-oriented environment. 
                </li>
             </ul>
            </article>
        </article> 

        <article class="Freelancing inner-article">
            <h3><img src="../images/svg/freelancer.svg" alt="Icon for Summary" height="35px"  style="padding-right:0px; margin-right: 0px;">Freelancing</h3>
            <article class="inner-article2">
             <h4>Web Designer</h4>
             <li>Nov 2022 - May 2023 (7 months)</li>
             <ul>
                <li>Collaborate with cross-functional teams, including UI/UX designers and backend developers, to bring 
                    concepts to life. 
                    </li>
                <li>Transform design wireframes into responsive, high-performance web pages using HTML, CSS, EJS, NodeJS 
                    and JavaScript. </li>
             </ul>
            </article>
          </article>

          <article class="IVRRM inner-article">
            <h3><img src="../images/IVRRM.png" alt="Icon for Summary" height="30px"  style="padding-right:5px ;">IVRRM E-COMMERCE PVT LTD</h3>
            <article class="inner-article2">
             <h4>Operations Team</h4>
             <li>May 2019 - Aug 2022 (3 years 4 months) </li>
             <ul>
                <li>Crafting visually appealing and user-centric frontend designs, specializing in UI 
                    design. </li>
                <li>Take charge of operations, ensuring smooth workflow and efficient project 
                    execution. 
                    </li>
                <li>Convincing users, creating an engaging digital experience that resonates with 
                    their needs.  
                </li>
             </ul>
            </article>
          </article> 

          <article class="BEL inner-article">
            <h3><img src="../images/BEL.png" alt="Icon for Summary" height="15px"  style="padding-right:5px ;">Bharat Electronics Ltd.</h3>
            <article class="inner-article2">
             <h4>Summer Intern</h4>
             <li>Jun 2018 - Jul 2018 (2 months) 
            </li>
             <ul>
                <li>During the summer internship at Bharat Electronics Ltd. I gain the knowledge about the Radar and It's 
                    applications. 
                    </li>
                <li>It was an amazing experience to see how the radar works and where are they applied. I 
                    explored various types of radars. 
                    </li>
             </ul>
            </article>
          </article>
       </article>

    <article class="Education personal-info">
            <h2><img src="../images/svg/education.svg" alt="Icon for Summary" height="30px"  style="padding-right:5px ;">Education</h2>
            <article class="inner-article">
                <h3><img src="../images/aktu.png" alt="Icon for Summary" height="25px"  style="padding-right:5px ;">Dr. A.P.J. Abdul Kalam Technical University</h3>
                <article class="inner-article2">
                <h4>Bachelor of Technology, Electronics and Communication Engineering</h4>
                <li>Apr 2015 - Jun 2019</li>
                
                </article>
            </article> 
        </article>

  <article class="Certifications personal-info" style="margin-bottom: 0%;">
        <h2><img src="../images/svg/certificate.svg" alt="Icon for Summary" height="30px"  style="padding-right:5px ;">Certifications</h2>
          <article class="inner-article">
            <h3><img src="../images/udemy.png" alt="Icon for Summary" height="25px"  style="padding-right:5px ;">Udemy</h3>
            <article class="udemy inner-article2">
             <h4>The Complete 2024 Web Development Bootcamp
            </h4>
             <li>AUC-bf48a0c6-d019-454f-ae36-939f36a96e3a</li>
            </article>
          </article> 
          <article class="udemy inner-article">
            <h3><img src="../images/udemy.png" alt="Icon for Summary" height="25px"  style="padding-right:5px ;">Udemy</h3>
            <article class="inner-article2">
             <h4>Data Structures & Algorithms !
            </h4>
             <li>UC-V64SCJVP 
            </li>
            </article>
          </article> 
          <article class="inner-article" id="BEL "style="margin-bottom: 0%;">
            <h3><img src="../images/BEL.png" alt="Icon for Summary" height="15px"  style="padding-right:5px ;">BEL</h3>
            <article class="inner-article2">
             <h4>Radar and its Application
            </h4>
             <li style="margin-bottom: 0%;">HRD/UPT/457/2018 
            </li>
            </article>
          </article>           
    </article>
    
    <article id="skills " class="personal-info" style="margin-bottom: 0%;">
        <h2><img src="../images/svg/skills.svg" alt="Icon for Summary" width="30px"  style="padding-right:5px ;">Skills</h2>
        <article class="postgreSQL inner-article">
            <h3><img src="../images/svg/postgresql.svg" alt="Icon for Summary" width="30px"  style="padding-right:5px ;">postgreSQL DB</h3>
          </article>    
        <article class="inner-article">
            <h3><img src="../images/svg/html.svg" alt="Icon for Summary" width="30px"  style="padding-right:5px ;">HTML 5</h3>
          </article> 
          <article class="udemy inner-article">
            <h3><img src="../images/svg/css-3.svg" alt="Icon for Summary" width="30px"  style="padding-right:5px ;">CSS-3</h3>
          </article> 
          <article class="inner-article" id="BEL "style="margin-bottom: 0%;">
            <h3><img src="../images/svg/javascript.svg" alt="Icon for Summary" width="30px"  style="padding-right:5px ;">JavaScript</h3>
          </article>

          <article class="team inner-article">
            <h3><img src="../images/svg/collaboration.svg" alt="Icon for Summary" width="30px"  style="padding-right:5px ;">Team Player</h3>
          </article>    

    </main>
    <div class="footer-line"></div>

    <a id="footer"> <footer style="text-align: center; margin-top: 50px;margin-bottom: 50px; width: 100%;">
        <h1>Contact Me</h1>
        <h2>Email: kumar.2k17jitendra@gmail.com </h2>
        <h2>Linkedin: <a href="//www.linkedin.com/in/jitendra-kumar-36533b15b/" target="_blank">Follow Me</a></h2>
        <p>All rights reserved @jk</p>
    </footer></a>
</body>
</html>